.dataTables_wrapper .dataTables_length select{
    width: 100px;
}
.datatables td {
    border-bottom: 0.3px solid #ccc
}
#pharmacy-dt_wrapper {
    overflow: auto;
}
table.dataTable {
    min-width: 1168px !important;
}